.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto; /*prevents container from sticking to left side*/
  width: 400px;
}


.left-text {
  width: 100px;
}
