body > h1 {
  margin-top: 0;
}

div h1 {
  margin: -10px;
}

.btn-default{
  border-radius: 0;
  background-color:#d4a2ff;
}

.btn-default:hover{
  background-color: #e6c9ff;
  border-color: #e6c9ff;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto; /*prevents container from sticking to left side*/
  width: 400px;
}

.flex-container-button {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  margin: auto; /*prevents container from sticking to left side*/
  width: 400px;
}

.flex-container-timer-lengths {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto; /*prevents container from sticking to left side*/
  width: 400px;
  margin-top: 20px;
}

.title-background{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #76ddff;
}

/* Need to find way to keep text at same location regardless of shape */
.timer-text-triangle {
  position: relative;
  top: -9px;
  left: -156px;
}

.timer-text-square{
  position: relative;
  top: 66px;
  left: 44px;
}

.timer-text-alignment{
  position: static;
  text-align: center;
  padding-top: 60px;
}
/* ----------------------------------------------------------------- */

.align-triangle{
  padding-top: 60px;
  padding-left: 30px;
  height: 300px;
}

.align-square{
  padding-top: 85px;
  padding-left: 0;
  height: 300px;
}

/* css-tricks.com/examples/ShapesOfCSS/ ---------------------------- */
.triangle {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 200px solid #7fffb0;
  border-bottom: 100px solid transparent;
}

.triangle:hover {
  border-left: 200px solid #a5ffc7;
}

.square {
  width: 170px;
  height: 170px;
  background: #ff6d6d;
}

.square:hover {
  background: #ff9595;
}
/* ----------------------------------------------------------------- */

.fa-plus:hover {
  color: #7fffb0;
}

.fa-minus:hover {
  color: #ff6d6d;
}

.button-pointer{
  cursor: pointer; 
}