.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto; /*prevents container from sticking to left side*/
  width: 400px;
}

.flex-container-timer-lengths {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto; /*prevents container from sticking to left side*/
  width: 400px;
}


.left-text {
  width: 100px;
}

/*
.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
*/

.timer-triangle {
  position:relative;
  top: -40px;
  left: -170px;
}

.timer-square{
  
}

.test{
  padding-top: 60px;
  padding-left: 60px;
}

/* css-tricks.com/examples/ShapesOfCSS/ */
.triangle-right {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 200px solid #77d89c;
  border-bottom: 100px solid transparent;
}

.square {
  width: 150px;
  height: 150px;
  background: #ff6d6d;
}